<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a routerLink="/homepage" routerLinkActive="active"><i class="ion-ios-home-outline"></i>Home</a></li>
            <li role="presentation"><a routerLink="/become_host" routerLinkActive="active"><i class="ion-ios-home"></i>Become Host</a></li>
            <li role="presentation"><a routerLink="/register" routerLinkActive="active"><i class="ion-ios-person"></i>Log in</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Passengair</h3>
</div>
<router-outlet></router-outlet>

